//color

$c1-100:#7e7d7d;
$c1-200:#666;
$c1-300:#f7f7f7;
$c1-400:#97a1a9;
$c1-500:#3f3a64;



$c2-100:#009f4d;
$c2-200:#00a63f;
$c2-300:#008030;
$c2-400:#00732c;


$c3-100:#f8f9fa;
$c3-200:#eee;
$c3-300:#f7f7f7;


$c4-200:#100f19;

$cWhite: #ffffff;
$cBlack: #000000;



$fw-light:300;
$fw-regular:400;
$fw-semibold:600;
$fw-bold:700;